services:
  - type: web
    name: resort-booking-backend
    runtime: node
    rootDir: resort-booking-be
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false

